body {
    margin: 0px;
    background-color: #007FFF;
}

* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
    color: #fff;
}

h1 {
    text-align: center;
}

ul,
ol {
    padding: 0px;
    margin: 0px;
}

.toolkit-grid {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto;
    grid-gap: 20px;
    text-align: center;
}

.toolkit-grid-item {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    height: 250px;
}

.toolkit-grid-item > iframe {
    width: 100%;
    height: 100%;
    border: none;
    background-color: white;
}
